@model MovieDB.Models.AwardViewModel

@{
    ViewBag.Title = "Add Award"; 
    Layout = "_Layout";
}

<h2>Add Award</h2>

<form method="post" asp-action="Add">
    <div class="mt-3">
        <div class="mb-3">
            <label asp-for="Name" class="form-label"></label>
            <input type="text" class="form-control" asp-for="Name" />
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
    
        <div class="mb-3">
            <label asp-for="Year" class="form-label"></label>
            <input type="number" class="form-control" asp-for="Year" />
            <span asp-validation-for="Year" class="text-danger"></span>
        </div>

        <div class="mb-3">
            <label asp-for="Awardable_ID" class="form-label">Attributed To (Optional)</label>
            <select asp-for="Awardable_ID" asp-items="Model.Awardables" class="form-control">
                <option value="">None (General Award)</option>
            </select>
            <span asp-validation-for="Awardable_ID" class="text-danger"></span>
        </div>

        <button type="submit" class="btn btn-primary mt-3">Add Award</button>
    </div>
</form>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
